html,
body {
    height: 100%;
    width: 100%;
    background-color: #2D2D2D;
}

.container {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    padding: .5rem 1.25rem .5rem;
    
}

li {
    padding: 10px 0;
}

.pages-a {
    display: block;
    margin: auto;
    padding: 1rem 1.25rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}
.pages-a:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #6dccdd;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: -1;
}
.pages-a:hover {
    color: rgb(255, 255, 255);  
}
.pages-a:hover:after {
    right: 0;
    left: 0;
    height: 100%;
}

.white-hr {
    background-color: white;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding-bottom: 1rem;

}

.social-a {
    text-decoration: none;
    font-size: 1em;
    font-family: sans-serif;
    position: relative;
    transition: all 0.6s;
    padding: 1rem 1.25rem;
    font-size: 1.5rem;  
    color: #fff;
}
.social-a:before {
    content: "";
    width: 0;
    height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00aeff;
    transition: all 0.3s;
}
.social-a:hover:before {
    width: 100%;
    left: 0;
    background: red;
}

.page-caption{
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}

.page-caption>a{
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    transition: .3s all ease;  
    text-decoration: none;
}

.page-caption>a:hover {
    color: #00aeff;
    border-bottom: 2px solid #00aeff;
    transition: .3s all ease;
}